
#PBIP files generate a .pbi folder with local cache and configurations specific in the local machine
#that shouldn't be uploaded to the repo because it's not useful to anyone else and can cause conflicts

# Power BI
**/.pbi/cache.abf
**/.pbi/editorSettings.json
**/.pbi/localSettings.json
*.pbix.bak

# Archivos temporales del sistema
.DS_Store
Thumbs.db
desktop.ini
.vscode/
*.tmp
